*{
  box-sizing: border-box;
  
}
body {
  margin: 0;
  background-color: #3b3b3b;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #141414;
  position: fixed;
  top: 0;
  /* width: 100%; */
  width: 15%;
  height: 100%;
  float: left;
  color: rgb(182, 135, 73);
}
li a {
  display: block;
  color: #fff;
  padding: 15px 10px;
  text-decoration: none;
  color: rgb(182, 135, 73);
}

li a:hover:not(.active) {
  background-color: black;
}
.active {
  background: darkgreen;
}

.main {
  margin-left: 26%;
}

li .dropdown {
  display: inline-block;

}

.dropdown-content {
  color: #000;
  padding: 10px 10px;
  display: block;
}
h1{
  color: burlywood;
}
h2{
  color: rgb(109, 149, 182);
}